body {
    background-color: #2E2E2E;
}

.wholebody{
    height:auto;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    cursor: url("./img/kursor.png"), pointer;
}

#informacja {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
}

#ktozrobiloll {
    text-align: center;
    font-size: 12px;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 12px;
}


#powrot {
    position: fixed;
    width: 100px;
    height:100px;
}
#button1 {
    width: 225px;
    height: 50px;
}
#tipply {

    border: 0;
    position:fixed;
    margin-top: -100px;
    -ms-transform: scale(0.60);
    -moz-transform: scale(0.60);
    -o-transform: scale(0.60);
    -webkit-transform: scale(0.60);
    transform: scale(0.60);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
p.bindy {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: gold;
}
p.bindy:hover {
    background-color: maroon;
}

#app {
    position: absolute;
    height: 10vh;
    left: 80vh;
    width: 100%;
  }